@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

input,
select {
  @apply rounded border border-gray-400 p-2;
}

button.primary {
  @apply rounded bg-blue-500 p-2 text-white;
}
